PORT=5000


DB_URL=mongodb+srv://yellepavankalyan7_db_user:pavankalyan@cluster0.xckq9ye.mongodb.net/?appName=Cluster0

SECRET_KEY=sakfgiewagiuekjdskfsfkdjshf


NODE_ENV=production

CLOUDINARY_CLOUD_NAME=dxlskvmab
CLOUDINARY_API_KEY=239936157852258
CLOUDINARY_API_SECRET=lFXD955bmSSEBmljcNuKAzy_nes


RAZORPAY_KEY_ID=rzp_test_T1WfdUeqhLKLn6
RAZORPAY_KEY_SECRET=AzY1crxpqrDR1Ha2013LdF65

